*{
 padding: 0px;
 margin: 0px;
}
.icon{
    padding-left: 675px;
    top: 40px;
}
.section{
    height: 1300px;
    width:1472px;
    background-color: rgb(248, 244, 239);
    padding-top: 5px;
}
.f1{
    font-family: cursive;
    padding-left: 645px;
}
header{
    height: 60px;
}
footer{
    height: 60px;
}
.content{
    margin-left: 15px;
    width: 1400px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(64, 64, 64);
    line-height: 1.6;
}
.activity{
    width: 100%;
    height: 4rem;
}
.b1{
    height: 274px;
    width: 294px;
    margin-left: 115px;
    background-color: coral;
}