*{
    margin: 0;
    padding: 0;
    /* color: white; */
    font-size: 23px;
}
#main{
    background-color: rgba(0, 0, 0, 0.71);
    height: 40px;
}

a{
    color: white;
    margin-right: 200px;
    text-decoration:none;
    
}
#logo{
    margin-left: 5px;
 
    font-size: 25px;
}
button{
    background-color: orangered;
    color: white;
}

#content{
    height: 600px;
}
footer{
    background-color: black;
    color: beige;
    height: 50px;
    text-align: center;
}
.box1{
    background-color:beige;
    display: flex; 
    align-items: center;
    display: inline-block; 
    top: 80px;
}


p:active{
    background-color:rgb(67, 67, 250);
    color: aliceblue;
}
P{
    display:inline-block;
    align-items: center;
}
.box1:hover{
background-color:#000 ;
}
.content{
    color: black;
}
.inputs{
    margin-top: 50px;
    display:flex;
    justify-content: space-evenly;
}
.inputs1{
    margin-top: 60px;
    margin-left: 550px;
}
p{
    font-family: sans-serif;
}
.new{
    font-size: 5px;
    
}